#picture{background-image: url("https://cdn4.iconfinder.com/data/icons/pig-cartoon-emoji/742/pig-cartoon-emoji-animal-cute-009-256.png");
    height:257px;
    width:250px;
}

body{background-color: pink;
font-weight:bold;
}
